{% extends "baseLogueado.html" %}
{% block title %} Funciones {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Funciones</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="offset-9 col-3 text-end">
                <a class="btn btn-gen" href="{{url_for('funcion.agregar')}}">Agregar Funcion</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th cope="col">Pel&iacute;cula</th>
                      <th colspan="2" scope="col">Opciones</th>
                    </tr>
                  </thead>
                <tbody>
                {% for (funcion, pelicula) in funciones %}
                    <tr>
                        <th scope="row">{{funcion.fun_dt_fecha_hora.replace("T"," ")}}</th>
                        <th scope="row">{{pelicula.pel_v_titulo}}</th>
                        <td><a href="{{url_for('funcion.editar', id_funcion=funcion.fun_i_id)}}" class="a-rosa"><i class="far fa-edit"></i></td></a>
                        <td><a href="{{url_for('funcion.quitar', id_funcion=funcion.fun_i_id)}}" class="a-rosa eliminar"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/lista_general.js')}}"></script>
{% endblock %}