{% extends "baseLogueado.html" %}
{% block title %} Cines {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Cines</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="offset-9 col-3 text-end">
                <a class="btn btn-gen" href="{{url_for('cine.agregar')}}">Agregar Cine</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th colspan="2" scope="col">Opciones</th>
                    </tr>
                  </thead>
                <tbody>
                {% for cine in cines %}
                    <tr>
                        <th scope="row">{{cine.cin_v_nombre}}</th>
                        <td><a href="{{url_for('cine.editar', id_cine=cine.cin_i_id)}}" class="a-rosa" ><i class="far fa-edit"></i></td></a>
                        <td><a href="{{url_for('cine.quitar', id_cine=cine.cin_i_id)}}" class="a-rosa eliminar" data-msj="este cine"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/lista_general.js')}}"></script>
{% endblock %}