:root{
    --color-fondo1: #2b2b2b;
    --color1: #fe3190;
    --color2: #a3215d;
}

html, body{
    margin: 0;
    padding: 0;
}


.bg-inicio {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/fondo_inicio.jpg);
    background-size: cover;
    background-position: center;
}

section.over-h {
    height: 100vh;
    overflow: hidden;
}

img.logo-inicio {
    width: 50%;
    display: block;
    margin: 10% auto;
}

.bg-fondo {
    background-color: var(--color-fondo1);
}

.contenedor-login {
    padding: 0 10%;
}

.contenedor-login h2 {
    color: var(--color1);
    font-size: 1.4em;
}


.contenedor-login {
}

.custom-input-login {
    position: relative;
    margin-bottom: 20px;
}

.custom-input-login .form-label {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -10px;
    color: var(--colorLetra2);
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
}

.custom-input-login input.form-control {
    padding-left: 100px;
    height: 44px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 900;
    color: #000;
    border: 3px solid #fff;
    transition: all 0.5s;
}

.custom-input-login input.form-control:focus {
    border-color: var(--color1);
}


.letra-blanco {
    color: var(--bs-white);
}

.btn-login {
    background: var(--color1);
    color: var(--bs-white);
    width: 100%;
    font-size: 19px;
    font-family: "Roboto";
    font-weight: 700;
    height: 45px;
    margin-top: 5%;

}

header {
    background-color: var(--color-fondo1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-superior img {
    max-width: 80px;
}

.close-menu-horizontal {
    display: inline-block;
    color: var(--bs-white);
    font-size: 2em;
    vertical-align: middle;
    margin: 0 15px;
    cursor: pointer;
    user-select: none;
}

.logo-superior {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

button#usuarioMenu {
    color: var(--bs-white);
}


nav.menu-horizontal {
    min-height: calc(100vh - 85px);
    height: 100%;
    background: var(--color-fondo1);
    padding-top: 20px;
    border-top: var(--color1) solid 1px;
    box-sizing: border-box;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.menu li a {
    color: var(--bs-white);
    text-decoration: none;
    display: block;
    padding: 4px 10%;
    position: relative;
    transition: all 0.5s;
}

ul.menu li a i {
    position: absolute;
    right: 10%;
}

ul.menu li a.activo, ul.menu li a:hover {
    background-color: var(--color1);
}

.logo-superior h1 {
    margin-left: 15px;
    color: var(--bs-white);
}

.btn-gen {
    background: var(--color1);
    color: var(--bs-white);
}

main {
    padding: 1em 0;
}

.btn-gen:hover {
    background: var(--color2);
    color: var(--bs-white);
}
.contenedor-menu-horizontal {
    transition: all 0.5s;
    margin-left: -16.6666666667% !important;
}
.contenedor-menu-horizontal.activo {
    margin-left: 0 !important;
}

main h1 {
    color: var(--color1);
    font-size: 2em;
    margin-bottom: 0.9em;
}

li.breadcrumb-item a {
    color: var(--color1);
    text-decoration: none;
}



.popup{
  display: none;
}
.popup.activo {
    display: flex;
    background: #000000c9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.content-popup {
  background: #FFF;
  border-radius: 3px;
  font-family: sans-serif;
  min-width: 20%;
}

.content-popup ul {
    padding-left: 35px;
}

.content-popup h3 {
    text-align: center;
    border-bottom: 1px solid #CCC;
    font-size: 25px;
    text-align: left;
    padding: 20px 20px;
    margin: 0;
}

.popup.activo .cerrar {
    margin: auto;
    display: block;
    font-size: 15px;
    padding: 5px 20px;
}

form.formulario-general button {
    margin-top: 60px;
}


a.a-rosa {
    font-size: 1.5em;
    color: var(--color1);
}

.formulario-general .form-floating .form-control {
    margin-bottom: 1.5em;
}


label.upload-box-label {
    font-size: 16px;
    color: #9c9c9c;
}

.upload-box {
    text-align: center;
    background: #f6f6f6;
    position: relative;
    padding: 90px 0px;
    border: 2px dashed #c6c6c6;
    border-radius: 4px;
    color: #BFBFBF;
    user-select: none;
    margin-bottom: 30px;
}

.upload-box input {
    display: none;
}

.upload-box label, .upload-box button {
    position: relative;
    z-index: 9;
}

.upload-box:before {
    content: "";
    border: 10px solid #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.upload-box button.upload-btn {
    background: linear-gradient(180deg, #FEFEFE 25.52%, #F1F1F1 100%);
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #DEDEDE;
    color: #A9A9A9;
    padding: 8px 20px;
    font-weight: 500;
    font-family: 'Roboto';
    margin-top: 15px;
}

.upload-box button.upload-btn img {
    margin-right: 5px;
}

.upload-box[drop-active]{
    border-color: #000;
}

.col-preview img{
    max-width: 100%;
    max-height: 200px;
}

input.nums {
    padding: 1rem .75rem;
}

.otro {
    display: none;
}
.otro.activo {
    display: block;
}

.a-gris{
    color: var(--color-fondo1);
    font-size: 1.5em;
}

.card-deck .card {
    width: 23%;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.cont_grilla {
    padding: 40px 30px;
    background: #f0f0f0;
}

div#grilla {
    display: grid;
    grid-gap: 10px;
}

div#grilla>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#grilla>div.celda {
    border: 3px solid #25b136;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

div#grilla>div.celda.preferencial {
    border-color: #ff8d00;
}

div#grilla>div.celda.discapacitados {
    border-color: #1865a1;
    background: url(../imgs/discapacitado.png);
    color: transparent;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

div#grilla>div.celda.vacia {
    color: transparent;
    border-color: transparent;
    user-select: none;
}


.container_sala {
    max-width: calc(100% - 16.66666667%);
    margin: auto;
}
