{% extends "baseLogueado.html" %}
{% block title %} Ciudades {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Ciudades</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="offset-9 col-3 text-end">
                <a class="btn btn-gen" href="{{url_for('ciudad.agregar')}}">Agregar Ciudad</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th colspan="2" scope="col">Opciones</th>
                    </tr>
                  </thead>
                <tbody>
                {% for ciudad in ciudades %}
                    <tr>
                        <th scope="row">{{ciudad.ciu_v_nombre}}</th>
                        <td><a href="{{url_for('ciudad.editar', id_ciudad=ciudad.ciu_i_id)}}"  class="a-rosa"><i class="far fa-edit"></i></td></a>
                        <td><a href="{{url_for('ciudad.quitar', id_ciudad=ciudad.ciu_i_id)}}" class="a-rosa eliminar" data-msj="esta ciudad"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/lista_general.js')}}"></script>
{% endblock %}
